// form 及form表单控件

//input
.el-input {
  font-size: 14px;
  .el-input__inner {
    height: 32px;
  }
}

.el-select {
  .el-input__inner {
    width: 200px;
    height: 32px;
  }
}

.el-date-editor {

}

.el-picker-panel {
  .el-input__inner {
    width: 100%;
  }
}

.el-textarea {
  height: 72px;
  width: 320px;
}

.el-checkbox {
  .el-checkbox__inner {
    border: 1px dashed #dcdfe6;
  }
}
